<?xml version="1.0" encoding="utf-8"?>
<!--
  This manifest is ONLY merged into debug builds.
  The firebase_app_check_debug_token allows this device to pass App Check
  validation in debug mode WITHOUT needing Play Integrity.
  NEVER put this token in the release or main manifest.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="com.google.firebase.appcheck.debug.force_debug_token"
            android:value="7E37F135-1112-4B22-8214-D3FCD28E9EC2" />
    </application>
</manifest>
